<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.4.5947.17249" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Portable.ConcurrentDictionary" version="1.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Provision" version="3.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Provision.Providers.PortableMemoryCache" version="3.0.1" targetFramework="portable45-net45+win8+wpa81" />
</packages>